@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>


    <script src="~/Scripts/angular1.7/angular.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/IndexPageSytle/jquery.SuperSlide.2.1.1.js"></script>
    <link href="~/Scripts/IndexPageSytle/muke.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <style>
        .menu-disabled-true {
           
            visibility:hidden;
        }

        .menu-disabled-false {
           
           
            visibility:visible;
        }
    </style>
</head>

<body class="backg_huibai">

    <div ng-app="myapp" ng-controller="myCtrl">
        <!-- 顶部 -->
        <div class="width100 float_l height490 img_backg1" style="background-image:url(../../Scripts/IndexPageSytle/bk.jpg)">
            <div class="width100 float_l height80 line_hei80">
                <!-- 顶部左边 -->
                <div class="float_l">
                    <div class="float_l margin_l20">
                        <img src="~/Scripts/IndexPageSytle/uiz1.png" />
                    </div>

                </div>

                <!-- 顶部右边 -->
                <div class="float_r">
                    <div class="float_l top_input">
                        <input class="posi_relative" type="text" name="" id="" placeholder="请输入想搜索的内容...">
                        <img class="img_sousuo bianshou" src="~/Scripts/IndexPageSytle/uiz4.png" />
                    </div>

                    <div class="float_l margin_l30 margin_r40">
                        <img src="~/Scripts/IndexPageSytle/uiz2.png" />
                    </div>
                </div>
            </div>
        </div>

        <!-- 轮播图 -->
        <div class="width100 float_l margin_t-405 margin_b40">
            <div class="width_1200 margin_auto">
                <div class="width100 float_l height460 posi_relative">
                    <div class="width100 float_l">
                        <div class="focusBox">
                            <ul class="pic">
                                <li><a> <img src="~/Scripts/IndexPageSytle/uiz20.jpg" /></a></li>
                                <li><a><img src="~/Scripts/IndexPageSytle/uiz21.jpg" /></a></li>
                            </ul>
                            <a class="prev" href="javascript:void(0)"></a>

                            <a class="next" href="javascript:void(0)"></a>
                            <ul class="hd">
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <div class="width_224 float_l height460 posi_absolute backg_jqian padding_t5 bianshou" >
                        
                        <div ng-repeat="row in categorylist" >
                            <div class="width100 float_l tab_qiehuan " ng-mouseenter="mouseIn(row.Id)"  ng-mouseleave="mouseOut()">
                                    <div>
                                        <div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20"  >
                                            <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16"  >
                                       
                                                <span ng-mouseenter="showList(row.Id)">{{row.CategoryName}}</span>
                                                <span class="float_r">></span>
                                            </div>
                                        </div>
                               
                                
                                        <div class="width_700 float_l lunbofenlei img_backg15  menu-disabled-{{isDisabled}}" style="background-image:url(../../Scripts/IndexPageSytle/be.png)">
                                            <div class="width100 float_l padding40">
                                                <div class="width100 float_l margin_b40">
                                                    <span class="width100 color_shenred fon_siz16 float_l margin_b20">相关课程</span>
                                                    <ul class="width100 ul_lis float_l" ng-repeat="subject in  subjectList">
                                                    
                                                        <li class="width100 float_l margin_b15"><a ng-click="subjectDetail(subject.Id)">{{subject.SubjectName}}</a></li>
                                                   
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               

                            </div>
                        </div>
                        



                    </div>

                </div>
            </div>
        </div>


        <div class="width100 float_l margin_b40" >
            <div class=" margin_auto" style="width:1220px">

                <div class="width100 float_l margin_b20" > </div>

                <div class="width100 float_l" style="margin-left:10px">
                    
                        <div class=" height172 float_l margin_r20 border_shadow jingguoxianshi over_pos bianshou" style="width:224px"  ng-repeat="row in subjectShowList">
                            <div class="width100 float_l img_100 z_inx_1">
                                <img ng-src="~/Images/Upload/{{row.PhotoUrl}}">
                            </div>
                            <div class="img_backg2 donghua" ng-click="subjectDetail(row.Id)">

                                <span class="margin_t15 float_l ">{{row.SubjectName}}</span>
                                <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative ">{{row.Description}}</span>
                            </div>
                            <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                                <span class="float_l color_red">￥88.00</span>
                                <span class="float_r color_gray"><span>499</span>人在学</span>
                            </div>
                        </div>
      
                </div>

            </div>
        </div>

        <script>
            $('.tab_qiehuan').hover(function () {
                $(this).children(".bianhuabeijing").css("background-color", "#8a8f93").next().css("display", "block")
            }, function () {
                $(this).children(".bianhuabeijing").css("background-color", "#a9aaae").next().css("display", "none")
            });
        </script>

        <script type="text/javascript">
            jQuery(".focusBox").slide({ mainCell: ".pic", effect: "left", autoPlay: true, delayTime: 500 });
        </script>
        


        <!-- 页脚 -->
        <div class="width100 float_l padding_t30 height193">
            <div class="width_1200 margin_auto">


                <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
                    <span>© 2019 mymooc.com  </span>
                </div>
            </div>
        </div>

    </div>
  
    <script>



    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.isDisabled = true;
        
        getSubjectCategoryList($scope, $http);//载入页面数据
        initSubjectList($scope, $http);


        $scope.changeState = function () {
            console.log("s");
            if ($scope.isDisabled == true) {
                $scope.isDisabled = false;
            }
            else {
                $scope.isDisabled = true; 
            }

          
        };

        $scope.mouseIn = function (id) {
            $scope.isDisabled = false;
        
        };

        $scope.mouseOut = function () {
            $scope.isDisabled = true;
           
        };

        $scope.showList = function (id) {
 
            $http.post("@Url.Content("~/Subject/GetListByCategoryId/")"+id ).then(function (response) {
                     if (response.status == 200) {
                    
                         console.log(response.data);
                         $scope.subjectList = response.data;

                }
                 }).catch(function (data) {
                     alert("载入失败");
                     console.log("catch:" + data);
            })


        };

       

        $scope.subjectDetail = function (id) {
            console.log("detaile");
            console.log(id);
            window.location.href = "@Url.Content("~/Subject/Detail/")"+id;
        }


    });


        function getSubjectCategoryList($scope, $http) {
             $http.post("@Url.Content("~/SubjectCategory/GetList/")" ).then(function (response) {
                     if (response.status == 200) {
                     //    alert("载入成功");
                         console.log(response.data);
                         $scope.categorylist = response.data;

                        // getSubjectList($scope, $http);//刷新页面
                }
                 }).catch(function (data) {
                     alert("载入失败");
                     console.log("catch:" + data);
            })
        }

        function initSubjectList($scope, $http) {
            console.log("sqw");
            $http.post("@Url.Content("~/Subject/GetList/")").then(function (response) {
                     if (response.status == 200) {
                    
                         console.log(response.data);
                         $scope.subjectShowList = response.data;

                }
                 }).catch(function (data) {
                     alert("载入失败");
                     console.log("catch:" + data);
            })
        }



    </script>




</body>

</html>














