@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
 
    <link href="~/Scripts/LoginStyle/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/LoginStyle/material-design-iconic-font.min.css" rel="stylesheet" />

    <link href="~/Scripts/LoginStyle/util.css" rel="stylesheet" />
    <link href="~/Scripts/LoginStyle/main.css" rel="stylesheet" />

    
    <script src="~/Scripts/LoginStyle/main.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    
 
    
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Scripts/LoginStyle/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                      登录
                    </span>

                    <div class="wrap-input100 " >
                        <input class="input100" type="text" name="username" placeholder="请输入用户名" id="UserName">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 " >
                        <input class="input100" type="password" name="pass" placeholder="请输入密码" id="PassWord">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            记住我
                        </label>
                    </div>

                    <div class="container-login100-form-btn" >
                        <button type="button" class="login100-form-btn" id="btnLogin">
                            登录
                        </button>
                     
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="@Url.Content("~/Login/ForgotPassword")">
                            忘记密码?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    

    

</body>

</html>








<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
     


    $(function () {
        $("#btnLogin").click(function () {

            var username = $("#UserName").val();
            var password = $("#PassWord").val();
            if (!username) {
                alert("user name can't be empty");
            }
            if (!password) {
                alert("password can't be empty");
            }
            if (username && password) {
                $.ajax({
                url: "@Url.Content("~/Login/Login")",
                 data: { "UserName": username, "PassWord": password},
                dataType: 'json', type: "POST",
                    success: function (result) {
                        console.log(result);
                     if (result == 0) {

                     window.location.href="@Url.Content("~/Home/Index")"//跳转到homeindex页
                     }
                     else {
                         
                         alert("wrong username or password");
                     }
                }
            });
            }

        });

        $("#btnPassWordBack").click(function () {

            var usernameCheck = $("#usernameCheck").val();
            if (!usernameCheck) {
                alert("please enter your username");
            }
            else {
                 $.ajax({
                url: "@Url.Content("~/Login/RegainPassword")",
                 data: { "UserName": usernameCheck},
                dataType: 'json', type: "POST",
                 success: function (result) {
                     if (result == 0) {

                         alert("邮件已发送，请查收你的邮箱")

                     }
                     else {
                         alert("没有匹配的用户名");

                     }
                }
            });
            }



        });

       

    })


   

</script>

