
@{
    ViewBag.Title = "Login";
}



<h2 style="text-align:center">User Login</h2>

<div>
    <div class="form-horizontal" style="margin-top:10px">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="UserName"
                       placeholder="请输入用户名" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="PassWord"
                       placeholder="请输入密码">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <button id="btnLogin">
                    Login
                </button>
            </label>
            <div class="col-sm-6">
                <div id="errorMsg" style="color:red"></div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">  找回密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="usernameCheck"
                       placeholder="请输入你注册的用户名">
               
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                <button id="btnPassWordBack">
                    找回
                </button>
            </label>
          

        </div>


    </div>


</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $("#btnLogin").click(function () {

            var username = $("#UserName").val();
            var password = $("#PassWord").val();
            if (!username) {
                alert("user name can't be empty");
            }
            if (!password) {
                alert("password can't be empty");
            }
            if (username && password) {
                $.ajax({
                url: "@Url.Content("~/Login/Login")",
                 data: { "UserName": username, "PassWord": password},
                dataType: 'json', type: "POST",
                 success: function (result) {
                     if (result == 0) {

                     window.location.href="@Url.Content("~/Home/Index")"//跳转到homeindex页
                     }
                     else {
                         $("#errorMsg").text("wrong username or password");
                     }
                }
            });
            }

        });

        $("#btnPassWordBack").click(function () {

            var usernameCheck = $("#usernameCheck").val();       
            if (!usernameCheck) {
                alert("please enter your username");
            }
            else {
                 $.ajax({
                url: "@Url.Content("~/Login/RegainPassword")",
                 data: { "UserName": usernameCheck},
                dataType: 'json', type: "POST",
                 success: function (result) {
                     if (result == 0) {

                         alert("邮件已发送，请查收你的邮箱")
                        
                     }
                     else {
                         alert("没有匹配的用户名");
                       
                     }
                }
            });
            }
           
            

        });

    })

</script>

