<script src="~/Scripts/bootstrap.min.js"></script>

<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">
    <h2 style="text-align:center;margin-bottom:20px">添加用户 </h2>
    <form name="myForm">
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label"  style="font-size:16px;">姓名</label>
                <div class="col-md-6">
                    <input type="text" name="usernameInput" class="form-control" ng-model="UserName" required />
                    <span ng-show="myForm.usernameInput.$touched && myForm.usernameInput.$invalid" class="help-block">请填写姓名</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label"  style="font-size:16px;">Email</label>
                <div class="col-md-6">
                    <input name="emailInput" type="email" class="form-control" ng-model="Email" required />
                    <span ng-show="myForm.emailInput.$touched && myForm.emailInput.$invalid" class="help-block">请按正确的格式填写:例如123@qq.com</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label"  style="font-size:16px;">密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" ng-model="PassWord" ng-minlength="6" name="passwordInput" required />
                    <span ng-show="myForm.passwordInput.$touched && myForm.passwordInput.$invalid" class="help-block">最少六位</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label"  style="font-size:16px;">确认密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" ng-model="ConfirmPassWord" ng-minlength="6" name="confirmpasswordInput" required />
                    <span ng-show="myForm.confirmpasswordInput.$touched && myForm.confirmpasswordInput.$invalid" class="help-block">最少六位</span>
                    <span>{{errorMsg}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label"  style="font-size:16px;">角色</label>
                <div class="col-md-2">
                    <select ng-model="selectedName" ng-options="x.Text for x in names" name="roletypeInput" ng-change="roleSelected()" style="font-size:20px;" required>
                        <option value="">请选择</option>
                    </select>
                    <span ng-show="myForm.roletypeInput.$touched && myForm.roletypeInput.$invalid" class="help-block">请选择一个角色</span>
                </div>
            </div>
            <div class="form-group row" ng-show="hiddenSelelctList">
                <label class="col-md-1 col-md-offset-2 col-form-label" style="font-size:16px;">讲师列表</label>
                <div class="col-md-6">
                    <select ng-model="selectedTeacher" ng-options="x.TeacherName for x in teacherList" name="teacherInput" ng-change="teacherSelected()" style="font-size:20px;" required>
                        <option value="">请选择</option>
                    </select>
                    <span ng-show="myForm.teacherInput.$touched && myForm.teacherInput.$invalid" class="help-block">请选择一个讲师</span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-offset-5" style="padding-left:20px">
                    <input type="submit" class="btn btn-primary" value="保存" ng-click="saveUser(PassWord,ConfirmPassWord)" />
                    <input type="button" class="btn btn-danger" value="取消" ng-click="cancelSubmit()" />
                </div>
            </div>
        </div>
    </form>
    
   




</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        getRoleTypeList($scope, $http);//初始化下拉列表

        $scope.teacherSelected = function () {
            console.log($scope.selectedTeacher.Id);
            $scope.teacherId = $scope.selectedTeacher.Id;
          
        }

        $scope.roleSelected = function () {
           
            if ($scope.selectedName.Value == 2) {
                //console.log($scope.selectedName.Value);
                $scope.hiddenSelelctList = true;
            }
            else {
                $scope.hiddenSelelctList = false;
                $scope.teacherId = -1;
            }
        }

        $scope.saveUser = function (PassWord, ConfirmPassWord) {
            if (PassWord == ConfirmPassWord) {
                saveUser($scope, $http);
            }
            else {
                window.alert("密码不一致");
            }
        };

        $scope.cancelSubmit = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/Users/Index/")";
        };



    });



    function getRoleTypeList($scope, $http) {

        $http({
            method: 'GET',
            url: "@Url.Content("~/MoocAdmin/Users/GetRoleTypeList")",
        }).then(function (response) {
            if (response.status == 200) {
                $scope.names = response.data.roleList;
                $scope.teacherList = response.data.teacherList;
                console.log($scope.teacherList);

            }
        }, function (data) {
            console.log(data);
        });
    }


    function saveUser($scope, $http) {

        var user = {
            UserName: $scope.UserName,
            Email: $scope.Email,
            PassWord: $scope.PassWord,
            RoleType: $scope.selectedName.Value,
            TeacherId: $scope.teacherId

        };

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Users/AddUserList")",
            data: JSON.stringify(user),
            dataType: "json"
        }).then(function (response) {
            if (response.status == 200) {
                alert("添加成功");
                window.location.href = "@Url.Content("~/MoocAdmin/Users/Index/")";
            }
        }, function (data) {
            console.log(data);
        });
    }


</script>

