
<script src="~/Scripts/jqPaginator.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="row" id="dataBind" ng-app="myapp" ng-controller="myCtrl">
   
    <div class="col-md-10 col-md-offset-1" style="margin-top:20px">
        <div class="panel panel-default">
            <div class="panel-heading">               
                <h2 style="display:inline-block">用户维护</h2>
                <a class="btn btn-primary" style="float:right;margin-top:14px;margin-right:16px;" ng-click="addUser()" href="#"><i class="fa"></i> 添加</a>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive table-striped">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>用户类型</th>
                                <th>用户状态</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in list">
                                <td>{{row.UserName}}</td>
                                <td>{{row.Email}}</td>
                                <td>{{row.ShowRoleType}}</td>
                                <td>{{row.ShowStatus}}</td>

                                <td><a class="btn btn-primary" ng-click="updateUser(row.Id)" href="#"><i class="fa fa-edit"></i>  修改</a></td>
                                <td><a class="btn btn-danger" ng-click="deleteUser(row.Id)" href="#"><i class="fa fa-pencil"></i>  删除</a></td>

                            </tr>
                        </tbody>
                    </table>


                    <div class="col-md-4 col-md-offset-8">
                        <ul class="pagination" id="paginationBtn" style="margin:auto"></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
   


    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.pageIndex = 1;
        $scope.pageSize = 10;
        getUserList($scope, $http);//载入页面数据
     
        $scope.updateUser = function (id) {
            window.location.href = "@Url.Content("~/MoocAdmin/Users/Details/")" + id;
        };

        $scope.deleteUser = function (id) {
            if (confirm("确定删除该条数据?"))
            {
                $http.post("@Url.Content("~/MoocAdmin/Users/Delete/")" + id).then(function (response) {
                    if (response.status == 200) {
                        alert("删除成功");
                    getUserList($scope, $http);//刷新页面
                }
            }).catch(function (data) {
                     console.log("catch:" + data);
                     alert("删除失败");
            })
            }
        };

        $scope.addUser = function () {
             window.location.href = "@Url.Content("~/MoocAdmin/Users/Add/")";
        }
    });




    function getUserList($scope, $http) {

        $http.post("@Url.Content("~/MoocAdmin/Users/GetUserList")", { pageIndex: $scope.pageIndex, pageSize: $scope.pageSize }).then(function (response) {
            if (response.status == 200) {
                $('#paginationBtn').jqPaginator({
                    totalCounts: response.data.iCount,
                    pageSize:$scope.pageSize,
                    visiblePages: 5,
                    currentPage: $scope.pageIndex,

                    first: '<li class="first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">前一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">后一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">最后一页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (number) {
                        //number为用户点击触发的那个页数
                        $scope.pageIndex = number;
                        if ($('#paginationBtn .active').eq(0).attr('jp-data') !== number.toString()) {
                            getUserList($scope, $http);
                        }
                    }
                });
                $scope.list = response.data.data;
            }
        }).catch(function (data) {
            console.log("catch:" + data);
        });
    }

</script>

