
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .Btn {
            color: #337AB7;
            border: 0px none;
            background-color: white;
            margin-top: -8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>

</head>

<table class="table">
    <caption>用户列表</caption>
    <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>头像</th>
            <th>用户类型</th>
            <th>用户状态</th>
            <th>操作</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dataBind"></tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function initSearch() {
        var _html = '';
        $.ajax({
            url: "@Url.Content("~/Users/GetUserList")",
            data: { "pageIndex": 1, "pageSize": 100 },
            dataType: 'json', type: "POST",
            success: function (result) {
                if (result.code == 0 && result.data.length > 0) {
                    for (var i = 0; i < result.data.length; i++) {
                        var item = result.data[i];
                        _html += '<tr>';
                        _html += '<td>' + item.UserName + '</td>';
                        _html += '<td>' + item.Email + '</td>';
                        _html += '<td>' + item.PhotoUrl + '</td>';
                        _html += '<td>' + item.ShowRoleType + '</td>';
                        _html += '<td>' + item.ShowStatus + '</td>';
                        _html += '<td><a href="@Url.Content("~/Users/Details/")' + item.Id + '">查看详情</a></td>';
                        _html += '<td> <button class="Btn" onclick="Delete(' + item.Id + ')" class="btn btn-default">删除记录</button></td>';
                        _html += '</tr>';
                    }
                } else {
                    _html = '<tr><td  colspan="5" class="center">暂无数据</td></tr>';

                }
                $("#dataBind").html(_html);
            }
        });
    }

    $(function () {
        initSearch();
    })

    function Delete(id) {

        if (confirm("do you want to delete?")) {
            $.ajax({
                url: "@Url.Content("~/Users/Delete")",
                data: { "id": id },
                dataType: 'json', type: "POST",
                success: function (result) {
                    if (result == 0) {
                        window.location.href = "@Url.Content("~/Users/Index")"
                    } else {
                        alert("failed add");

                    }

                }
            });
        }
    }
</script>