<script src="~/Scripts/bootstrap.min.js"></script>
<div id="dataBind" ng-app="myapp" ng-controller="myCtrl">
    <form name="myForm" ng-submit="submitForm(userForm.$valid)" action="~/MoocAdmin/Teacher/AddTeacherList" enctype="multipart/form-data" method="post">
        <h2 style="text-align:center;margin-bottom:20px">修改讲师信息 </h2>
        <div class="container">
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">姓名</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="TeacherName" ng-model="teacher.TeacherName" required>
                    <span ng-show="myForm.TeacherName.$touched && myForm.TeacherName.$invalid" class="help-block">请填写姓名</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">Email</label>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="Email" ng-model="teacher.Email">
                    <span ng-show="myForm.Email.$touched && myForm.Email.$invalid" class="help-block">错误格式</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">身份</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Level" name="Level">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">部门</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Department" name="Department">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">头像</label>
                <div class="col-md-6">
                    <img ng-src="~/Images/Upload/{{teacher.PhotoUrl}}" style="max-height:250px;max-width:250px;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">更新头像</label>
                <div class="col-md-6">
                    <input type="file" accept="image/jpeg, image/png" name="ImageUpload" id="ImageUpload">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 col-md-offset-2 col-form-label">个人简介</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="teacher.Description" name="Description">
                </div>
            </div>
            <input type="hidden" class="form-control" name="Id" value="{{teacher.Id}}" >
            <div class="form-group row">
                <div class="col-md-offset-7">
                    <input type="submit" class="btn btn-primary" value="保存" ng-disabled="myForm.$invalid" style="margin-left:35px;" />
                    <input type="button" class="btn btn-danger" value="取消" ng-click="cancelSubmit()" style="margin-left:15px;" />
                </div>
            </div>
        </div>
    </form>

</div>


<script>

    var app = angular.module("myapp", []);
    app.controller("myCtrl", function ($scope, $http) {

        $scope.Id = '@ViewBag.Id';
        var id = $scope.Id;

        getTeacherDetail($scope, $http);
  
        $scope.cancelSubmit = function () {
            window.location.href = "@Url.Content("~/MoocAdmin/Teacher/Index/")";
        };

    });


    function getTeacherDetail($scope, $http) {

        $http({
            method: 'POST',
            url: "@Url.Content("~/MoocAdmin/Teacher/GetTeacherDetail")",
            data: {"id":$scope.Id},
        }).then(function (response) {
            if (response.status == 200) {
                $scope.teacher = response.data;            
                console.log($scope.teacher);
                console.log(response);
            }
        }, function (data) {
            console.log(data);
        });
    }

   


</script>

